@import "~bulma/sass/utilities/_all"

// Other color scheme
// title	> 742C47
// dark	> 8F2651
// primary	> A0285C
// light	> F385C2

// Setting custom buefy colors
$primary: #BA2F6B
$light: #F385C2
$dark: #AB2D61
$title: #923556
$text: #4e4e4e
$background: #FFF
$background-light: #FFF

// Inverted
$primary-invert: findColorInvert($primary)
$light-invert: findColorInvert($light)
$dark-invert: findColorInvert($dark)

// Links
$link: $primary
$link-invert: $primary-invert
$link-focus-border: $primary

$colors: (white: ($white, $black), black: ($black, $white), light: ($light, $light-invert), dark: ($dark, $dark-invert), primary: ($primary, $primary-invert), info: ($info, $info-invert), success: ($success, $success-invert), warning: ($warning, $warning-invert), danger: ($danger, $danger-invert))
