@import "~bulma/sass/utilities/_all"

// Old colors
// $primary: #6D7293
// $light: #9296AD
// $dark: #4E547C

// Setting custom buefy colors
$primary: #7A202C // #A0B3D4
$light: #D03837 // #F1F5FB
$dark: #4F151D // #718AB4
$title: #3C2925 // #2A3744
$text: #FFF // #858c8f
$background: #474749
$background-light: #848486

// Inverted
$primary-invert: findColorInvert($primary)
$light-invert: findColorInvert($light)
$dark-invert: findColorInvert($dark)

// Links
$link: $primary
$link-invert: $primary-invert
$link-focus-border: $primary

$colors: (white: ($white, $black), black: ($black, $white), light: ($light, $light-invert), dark: ($dark, $dark-invert), primary: ($primary, $primary-invert), info: ($info, $info-invert), success: ($success, $success-invert), warning: ($warning, $warning-invert), danger: ($danger, $danger-invert))
